* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary: #00856f;
  --headline: #212529;
  --paragraph: #495057;
  --brand-beige: #fffaf1;
  --green-light: #dce9e2;
  --bg-light: #f7f9f9;
  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--bg-light);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  color: var(--primary);
  line-height: 150%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

#home::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--green-light);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home p {
  font-size: 1.8rem;
  color: var(--paragraph);
  line-height: 150%;
  margin-bottom: 3.2rem;
}

#home button {
  height: 6.2rem;
  width: 26.3rem;
  background-color: var(--primary);
  border: none;
  border-radius: 4rem;
  margin-bottom: 6rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
  background-color: var(--brand-beige);
  border: 1px solid var(--green-light);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

.stat p {
  margin: 0;
  color: var(--primary);
  line-height: 150%;
}

nav {
  width: 100vw;
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary);
}

nav.scroll .logo path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary);
  width: 100vw;
  height: 100vh;
  padding: var(--nav-height);
  transition: transform 400ms;
  transform: translateX(0%);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  margin-top: 6rem;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background-color: white;
  border-radius: 4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  color: var(--primary);
  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 10;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  padding: 2.4rem;
  text-align: left;
  background-color: white;
  border: 1px solid var(--green-light);
  border-radius: 0.6rem;
}

.card h3 {
  margin-block: 1.6rem;
}

#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}
